{% extends 'layout.html'%}

{% block content %}
    <div class="search-wrapper wrapper" >
        <h3 class="tipo-busqueda">{{elemento}}: </h3>
        <form class="search-form"  action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
              {% if form.value.errors %}
                    {{ form.value(class="round-input form-control is-invalid", placeholder=search_item) }}

                    <div class="invalid-feedback">
                        {% for error in form.value.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.value(class="round-input form-control", placeholder=search_item) }}
                {% endif %}
                {{ form.search(class="btn btn-outline-primary round-input") }}
              </div>
        </form>

        <div class="right-button">
          <a href="{{ url_for('menu') }}" class="btn btn-primary mx-5"> Regresar al Menu</a>

          {% if elemento == "Inspeccion" %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
              Registro de {{ elemento }}
            </button>
                
          {% else %}
            <a href="{{ url_for('formulario', elemento = elemento) }}" class="btn btn-success" >
              Registro de {{ elemento }}
            </a>
          {% endif %}


        </div>
    </div>

    <div class="table-wrapper d-flex justify-content-around border border-light">

        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                {% for header in table_header %}
                  {% if header != 'password' %}
                  <th scope="col"> {{ header | capitalize}}  </th>
                  {% endif %}
                {% endfor %}
                <th scope="col"> Opciones  </th>
              </tr>
            </thead>

            <tbody>
              {% for item in table_items %}
                <tr>
                  {% for header in table_header %}
                    {% if header != 'password' %}
                      <td> {{item[header]}} </td>
                    {% endif %}
                  {% endfor %}
                  <td> 
                    <div class="d-flex justify-content-around">
                      <button type="button" class="icon_wrapper" data-toggle="modal" data-target="#DeleteModal" data-whatever="{{ item[table_header[0]] }}">
                        <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/remove.png' ) }}" >
                      </button>
                      {% if elemento == 'inspeccion' |capitalize %}
                      <button type="button" class="icon_wrapper" data-toggle="modal" data-target="#EditModal" data-whatever="{{ item[table_header[0]] }}">
                        <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/editing.png' ) }}">
                      </button>
                      {% else %}
                        <a href="{{ url_for('editar', elemento = elemento, id=item[table_header[0]]) }}" type="button" class="icon_wrapper"> 
                          <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/editing.png' ) }}">
                        </a>
                      {% endif %}
                      <a class="icon_wrapper" target="_blank" href="{{ url_for('seleccionar', elemento=elemento, value_id=item[table_header[0]]) }}" >
                        <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/select.png' ) }}">
                      </a>
                      {% if elemento == 'certificados' |capitalize %}
                        <a class="icon_wrapper" href="{{ url_for('creacion_certificado',elemento=elemento, value_id=item[table_header[0]]) }}" >
                          <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/pdf.png' ) }}">
                        </a>
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
    </div>


      <!-- Delete Modal -->
  <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DeleteModalLabel"> Estas seguro de Querer Eliminar el Elemento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-danger" href="">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

  

  <script>
    $('#DeleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        let url = "{{ url_for('eliminar', elemento=elemento, value_id='recipient') }}"
        modal.find('.btn-danger').attr("href", url.replace("recipient", recipient))
      })
  </script>



<!-- ModalRegister -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quieres Crear un nuevo Lote?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" href="{{ url_for('formulario', elemento=elemento, l_nuevo='no') }}">No</a>
          <a class="btn btn-primary" href="{{ url_for('formulario', elemento=elemento, l_nuevo='si') }}" >Si</a>
        </div>
    </div>
  </div>
  </div>


<!-- ModalEdit -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditModalLabel">Quieres Crear un nuevo Lote para la edicion?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" href="">No</a>
        <a class="btn btn-primary" href="">Si</a>
      </div>
    </div>
</div>


  <script>
    $('#EditModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        let urlNo = "{{ url_for('editar', elemento =elemento, id='recipient', l_nuevo='no') }}}}"
        let urlSi = "{{ url_for('editar', elemento=elemento, id='recipient', l_nuevo='si') }}"
        modal.find('.btn-secondary').attr("href", urlNo.replace("recipient", recipient))
        modal.find('.btn-primary').attr("href", urlSi.replace("recipient", recipient))
      })
  </script>
    
        
{% endblock %}