{% extends 'layout.html'%}

{% block content %}
    <div class="search-wrapper wrapper" >
        <h3 class="tipo-busqueda">{{elemento}}: </h3>
        <form class="search-form"  action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
              {% if form.value.errors %}
                    {{ form.value(class="round-input form-control is-invalid", placeholder=search_item) }}

                    <div class="invalid-feedback">
                        {% for error in form.value.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.value(class="round-input form-control", placeholder=search_item) }}
                {% endif %}

                
                {{ form.submit(class="btn btn-outline-primary round-input") }}
              </div>
        </form>

        <div class="right-button">
          <a href="{{ url_for('menu') }}" class="btn btn-primary mx-5"> Regresar al Menu</a>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" > 
              Nuevo {{ elemento }}
            </button>

        </div>
    </div>

    <div class="table-wrapper d-flex justify-content-around border border-light">

        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                {% for header in table_header %}
                  {% if header != 'password' %}
                  <th scope="col"> {{ header | capitalize}}  </th>
                  {% endif %}
                {% endfor %}
                <th scope="col"> Opciones  </th>
              </tr>
            </thead>

            <tbody>
              {% for item in table_items %}
                <tr>
                  {% for header in table_header %}
                    {% if header != 'password' %}
                      <td> {{item[header]}} </td>
                    {% endif %}
                  {% endfor %}
                  <td> 
                    <div class="d-flex justify-content-around">
                      <button type="button" class="icon_wrapper" data-toggle="modal" data-target="#DeleteModal" data-whatever="{{ item[table_header[0]] }}">
                        <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/remove.png' ) }}" >
                      </button>
                      <button type="button" class="icon_wrapper" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ item }}"> 
                        <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/editing.png' ) }}">
                      </button>

                      <a class="icon_wrapper" href="{{ url_for('seleccionar', elemento=elemento, value_id=item[table_header[0]]) }}" >
                        <img class="table-icon" src="{{ url_for('static', filename='img/table_icons/select.png' ) }}">
                      </a>
                    </div>
                  </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
    </div>

    
    

    {% include "formulario.html" %}
        
{% endblock %}