{% extends 'layout.html'%}

{% block content %}
    <div class="search-wrapper wrapper" >
        <h3 class="tipo-busqueda">{{elemento}}</h3>
        <form class="search-form" >
            <div class="input-group">
                <input type="text" name="value" class="round-input form-control">
                <button class="btn btn-outline-primary" class="round-input" type="submit">Buscar</button>
              </div>
        </form>

        <div class="right-button">
            <a href="#" class="btn btn-success"> Agregar {{ elemento }}</a>
        </div>
    </div>

    <div class="table-wrapper d-flex justify-content-around border border-light">

        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col"> ID  </th>
                <th scope="col"> Valor 1  </th>
                <th scope="col"> Valor 2  </th>
                <th scope="col"> Valor 3  </th>
                <th scope="col"> Valor 4  </th>
                <th scope="col"> Opciones  </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td> Valor de Tablo asignado </td>
                <td> Valor de Tablo asignado </td>
                <td> Valor de Tablo asignado </td>
                <td> Valor de Tablo asignado </td>
                <td> 
                  <div class="d-flex justify-content-around"></div>
                    <a href="{{ url_for('Eliminar', elemento=elemento,valor=id) }}" class="btn btn-danger">Eliminar</a>
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-primary">Seleccionar</a>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
        
  
{% endblock %}