<!DOCTYPE html>
  <head>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <meta charset="UTF-8">
      <title>Lista de Laboratoristas</title>
  </head>
  <body>
      <!-- <H2>Lista de Laboratoristas</H2> -->
      <!-- Buscador -->
    <div class="search-wrapper wrapper" >
      <h3 class="tipo-busqueda">Laboratorista</h3>
      <!-- <form class="search-form" th:action="@{/laboratorista/getOne}" method="post">
        <div class="input-group">
            <input type="text" name="value" class="round-input form-control">
            <button class="btn btn-outline-primary" class="round-input" type="submit">Buscar</button>
          </div>
      </form> -->

          <!-- Boton de agregar -->
      <div class="right-button">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Nuevo Laboratorista</button> 
      </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper d-flex justify-content-around border border-light">
      <table class ="table table-stripped">
          <thead class="thead-dark">
              <tr>
                <td>Id</td>
                <td>Password</td>
                <td>Nombre</td>
              </tr>
          </thead>
          <tr th:each="laboratorista:${laboratorista}">
        <td th:text="${laboratorista.idl}">idl</td>
        <td th:text="${laboratorista.password}">password</td>
        <td th:text="${laboratorista.nombre}">nombre</td>
        </tr>
      </table>
    </div>
      

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form th:action="@{/laboratorista/addNew}" method="post">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Laboratorista</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" class="form-control" id="recipient-name" name="idl">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Password:</label>
                <input type="text" class="form-control" id="recipient-name" name="password">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" name="nombre">
              </div>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>