{% extends 'layout.html'%}

{% block style%}
<style>
    body{
        background-image: url("../static/img/harina-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

{% endblock %}

{% block content %}
    
    <div class="wrapper d-flex justify-content-center align-items-center">

        <div class="login_wrapper shadow-lg">
            <form method="POST" >
                {{ form.hidden_tag() }}

            <div class="text-center login-logo">
                <img src="{{ url_for('static', filename='img/logo_here.png') }}">
            </div>


            {% if form.username.errors %}
                {{ form.username(class="form-control login-input is-invalid", placeholder="Username") }}

                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control login-input", placeholder="Username") }}
            {% endif %}



            {% if form.password.errors %}
                {{ form.password(class="form-control login-input is-invalid", placeholder="Password") }}

                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control login-input", placeholder="Password") }}
            {% endif %}
            <div class="form-check m-3">

                {{ form.remember(class="form-check-imput fadeIn fourth") }}
                {{ form.remember.label(class="form-check-imput fadeIn fourth") }}

              </div>
              
                <div class="d-flex submit-space justify-content-center form-actions" >
                    {{ form.submit(class="btn btn-primary" )}}
                </div>
            </form>
        </div>
    </div>

{% endblock %}