{% from "formularios/_renderFields.html" import render_field%}
{% extends 'layout.html'%}

{% block content %}
<div class="w-100 d-flex justify-content-center mb-5">
  <form method="POST" class="w-50">
    {% if object %}

    {% set f_envio = object.fecha_envio.strftime("%Y-%m-%d") %}
    {% set f_caducidad = object.fecha_caducidad.strftime("%Y-%m-%d") %}

    {% endif %}
        {{ form.hidden_tag() }}
    {{render_field(form.factura, "form-group", "col-form-label", "form-control", value=object.factura)}}
    {{render_field(form.fecha_envio, "form-group", "col-form-label", "form-control", value=f_envio )}}
    {{render_field(form.fecha_caducidad, "form-group", "col-form-label", "form-control", value=f_caducidad )}}
    {{render_field(form.inspeccion, "form-group", "col-form-label", "form-select" )}}
    {{render_field(form.orden, "form-group", "col-form-label", "form-select" )}}
        

        <div class="right-button d-flex align-items-center mt-5">
        {{ form.submit(class="btn btn-primary") }}
        </div>


  </form>
</div>

{% endblock %}