{% from "formularios/_renderFields.html" import render_field%}
{% extends 'layout.html'%}

{% block content %}
<div class="w-100 d-flex justify-content-center mb-5">
  <form method="POST" class="w-50">
    {{ form.hidden_tag() }}

    {{render_field(form.marca, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.modelo, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.marca, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.serie, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.proveedor, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.fecha_adquisicion, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.garantia, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.ubicacion, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.mantenimiento, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.descripcionc, "form-group", "col-form-label", "form-control" )}}
    {{render_field(form.descripcionl, "form-group", "col-form-label", "form-control" )}}
    
    <datalist id="users">
      <option value="Edge">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist>

    <div class="form-group mt-5">
      {% for radio in form.tipo %}
      {{render_field(radio, "form-check", "form-check-label", "form-check-input" , "doStuff()")}}
      {% endfor %}
    </div>

    <div id="alveografo" class="formField mt-5">
        <h3>Alveografo</h3>
        {% for field in form.alveografo if field.widget.input_type != 'hidden' %}
            {{ render_field(field, "form-group", "col-form-label", "form-control") }}
        {% endfor %}    

    </div>
    <div id="farinografo" class="formField mt-5">
        <h3>Farinografo</h3>
        {% for field in form.farinografo if field.widget.input_type != 'hidden' %}
            {{ render_field(field, "form-group", "col-form-label", "form-control") }}
        {% endfor %}        
    </div>

    <div class="right-button d-flex align-items-center mt-5">
    {{ form.submit(class="btn btn-primary") }}
    </div>


  </form>
</div>

<script>
    function doStuff(){
        var value = document.querySelector('input[name="tipo"]:checked').value;
        if(value == "alv"){
            document.getElementById("alveografo").style.display = "block";
            document.getElementById("farinografo").style.display = "none";
        }
        else if(value == "far"){
            document.getElementById("farinografo").style.display = "block";
            document.getElementById("alveografo").style.display = "none";
        }

      }
      doStuff()
</script>

{% endblock %}