{% from "formularios/_renderFields.html" import render_field%}
{% extends 'layout.html'%}

{% block content %}
<div class="w-100 d-flex justify-content-center mb-5">
  <form method="POST" class="w-50">
              {{ form.hidden_tag() }}
              
            {{ render_field(form.username, "form-group", "col-form-label", "form-control") }}
            {{ render_field(form.password, "form-group", "col-form-label", "form-control") }}
            {{ render_field(form.confirm_password, "form-group", "col-form-label", "form-control") }}
            {{ render_field(form.role, "form-group", "col-form-label", "form-select") }}
            {{ render_field(form.active, "form-check mt-3", "form-check-label", "form-check-input") }}


              <div class="right-button d-flex align-items-center mt-5">
                {{ form.submit(class="btn btn-primary") }}
              </div>


  </form>
</div>

{% endblock %}